<div class="portlet manager blue">
    <div class="content-header">
        <span class="caption">
            <i class="fa-icon"></i>
            <span>Title</span>
            <small></small>
        </span>
        <div class="action-container top pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- content-header -->
    <div class="content portlet-body">
         Body
    </div>
</div>
