<div class="portlet manager blue" ng-controller="newsCtrl">
    <div class="header">
        <span class="caption">
            <i class="fa-icon"></i>
            <span>Title</span>
            <small></small>
        </span>
        <div class="action-container top pull-right">

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- content-header -->
    <div class="body">
        <div class="search-container">
            
        </div>
        <div class="tools-container">
            <input type="button" value="Add" ng-click="showDialog()" class="btn btn-default"/>
        </div>

        <div class="gird-container">
            <table id="tblNews" class="table table-bordered table-striped table-hover">
            </table>
        </div>
    </div>
</div>
